@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root{
   --Soft-red: hsl(10, 79%, 65%);
   --Cyan: hsl(186, 34%, 60%);
   --Dark-brown: hsl(25, 47%, 15%);
   --Medium-brown: hsl(28, 10%, 53%);
   --Cream: hsl(27, 66%, 92%);
   --Very-pale-orange: hsl(33, 100%, 98%);
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'DM Sans', sans-serif;
}

body{
   background-color: var(--Cream);
   height: 100vh;
   display: flex;
   /* align-items: center; */
   justify-content: center;
}

.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1.4vw;
}

.header{
   /* height: 14vh; */
   background-color: var(--Soft-red);
   border-radius: 1vw;
   padding: 1.4vw;
   display: flex;
   justify-content: space-between;
}

.header_text{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: var(--Very-pale-orange);
}

.header_text span:nth-child(1){
   font-size: 2vh;
}

.header_text span:nth-child(2){
   font-weight: 700;
   font-size: 3.5vh;
}


.body{
   background-color: var(--Very-pale-orange);
   border-radius: 1vw;
   padding: 1.4vw;
   /* height: 100%; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 5vh;
}

.body_graphic{
   display: flex;
   flex-direction: column;
   position: relative;
}

.body_graphic h2{
   color: var(--Dark-brown);
}

/*? graphic days */
.body_graphic .graphic_days{
   display: grid;
   /* width: 50vw; */
   grid-template-columns: repeat(7, 1fr);
   gap: 4px;
   margin-top: 5vh;
}

.day{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: end;
   gap: 1.5vh;
   cursor: pointer;
}

.day_amount{
   color: var(--Very-pale-orange);
   background-color: var(--Dark-brown);
   width: 100%;
   padding: 1vh;
   display: flex;
   justify-content: center;
   border-radius: 0.6vw;
   transform: scale(0);
   transition: transform 0.5s;
}

.day_amount p{
   color: var(--Very-pale-orange);
   font-weight: 700;
}

.day_percent{
   background-color: var(--Soft-red);
   border-radius: 0.6vw;
   width: 80%;
   transition: opacity 0.5s;
}

.day:hover .day_amount{
   transform: scale(1);
}

.day:hover .day_percent{
   opacity: 50%
}

.day:nth-child(1) .day_percent{
   height: 15vh;
}

.day:nth-child(2) .day_percent{
   height: 8vh;
}

.day:nth-child(3) .day_percent{
   height: 3.5vh;
}

.day:nth-child(4) .day_percent{
   height: 26vh;
   background-color: var(--Cyan);
}

.day:nth-child(5) .day_percent{
   height: 12vh;
}

.day:nth-child(6) .day_percent{
   height: 17vh;
}

.day:nth-child(7) .day_percent{
   height: 22vh;
}


.day > p{
   color: var(--Medium-brown);
}


.barr{
   background-color: var(--Cream);
   border-radius: 5px;
   width: 100%;
   height: 2px;
}


.body_footer{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.footer_month p:nth-child(1){
   color: var(--Medium-brown);
   font-weight: 400;
}

.footer_month p:nth-child(2){
   color: var(--Dark-brown);
   font-weight: 700;
   font-size: 6.2vh;
}

.footer_percent{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.footer_percent p:nth-child(1){
   color: var(--Dark-brown);
   font-weight: 700;
}

.footer_percent p:nth-child(2){
   color: var(--Medium-brown);
   font-weight: 400;
}


@media (max-width: 500px){
   .container{
      width: 92vw;
   }

   .graphic_days{
      position: relative;
   }
}